/** FONTS **/
.lato{ font-family: "lato"; }
.navbar-inverse { border-radius: 0px; }

/** FORMS **/
.form-control { height: 48px; }
.form-control-feedback { line-height: 60px; }
.form-control-default { height: 34px; } 
.drop-box i { font-size: 70px; }


/** BUTTONS **/
.default1 { height: 38px; }
.default2 { height: 48px; min-width: 110px; font-size: 16px; }
.large { height: 63px; min-width: 120px; }

/** COLORS **/
.bgColor1 { background-color: #0a345e; }
.bgColor2 { background-color: #00a2c2; }
.bgColor3 { background-color: #9d72af; }
.bgColor4 { background-color: #3cb185; }
.bgColor5 { background-color: #faaa5c; }
.bgColor6 { background-color: #f0545e; }
.bgColor7 { background-color: #2884b0; }
.bgColor8 { background-color: #5b469b; }
.bgColor9 { background-color: #9c69ac; }
.bgColor10 { background-color: #ce1e65; }
.bgColor11 { background-color: #725722; }
.bgColor12 { background-color: #8f8332; }
.bgColor13 { background-color: #f4f077; }
.bgColor14 { background-color: #c0ad8f; }
.bgColor15 { background-color: #91cb74; }
.bgColor16 { background-color: #0ba3c3; }
.bgColor17 { background-color: #2f343b; }
.bgColor18 { background-color: #676767; } 
.bgColor19 { background-color: #b5b5b5; }
.bgColor20 { background-color: #222222; }
 
.color1 { color: #0a345e; }
.color2 { color: #00a2c2; }
.color3 { color: #9d72af; }
.color4 { color: #3cb185; }
.color5 { color: #faaa5c; }
.color6 { color: #f0545e; }
.color7 { color: #2884b0; }
.color8 { color: #5b469b; }
.color9 { color: #9c69ac; }
.color10 { color: #ce1e65; }
.color11 { color: #725722; }
.color12 { color: #8f8332; }
.color13 { color: #f4f077; }
.color14 { color: #c0ad8f; }
.color15 { color: #91cb74; }
.color16 { color: #0ba3c3; }
.color17 { color: #2f343b; }
.color18 { color: #676767; } 
.color19 { color: #b5b5b5; }
.color20 { color: #222222; }




@media only screen and (min-width: 1200px) {

}
@media only screen and (min-width: 991px) and (max-width: 1199px) {	

}
@media only screen and (min-width: 768px) and (max-width: 990px) {	


}
@media only screen and (max-width: 767px) {	

}
  
