/** THEMA STYLE GUIDE **/
body { background: #fff; color: #444; font: 16px/1.5 "lato", Helvetica, Arial, sans-serif; margin-top: 50px;}
.logo { width: 90px; margin-top: -5px; }
.jumbotron { background-color: #0a345e; color: #fff; }

a,
a:visited { color: #888; }


a:hover,
a:focus { color: #000; }

.menu-lateral-stop { margin-top: -250px; }

/** TYPOGRAPHY **/
#typography .font-preview-character { font-size: 90px; } 
#typography .font-preview { font-size: 18px; padding: 20px } 
#typography .font-preview-border { border-right: 2px #EFEFEF solid; }
#typography .font-attribute { padding: 20px; }
#typography .row { margin-bottom: 10px; }
#typography .btn-download-font { margin-top: 15px; }
#typography .btn-download-font i { margin-right: 5px; }
#typography .Montserrat1 .font-preview-character, #typography .Montserrat1 .font-preview { font-family: "Montserrat", sans-serif; font-weight: 400; font-style: normal; }
#typography .Montserrat2 .font-preview-character, #typography .Montserrat2 .font-preview { font-family: "Montserrat", sans-serif; font-weight: 700; font-style: normal; }
#typography .lato1 .font-preview-character, #typography .lato1 .font-preview { font-family: "lato", sans-serif; font-weight: 300; font-style: normal; }
#typography .lato2 .font-preview-character, #typography .lato1 .font-preview { font-family: "lato", sans-serif; font-weight: 300; font-style: italic; }
#typography .lato3 .font-preview-character, #typography .lato1 .font-preview { font-family: "lato", sans-serif; font-weight: 400; font-style: normal; }
#typography .lato4 .font-preview-character, #typography .lato1 .font-preview { font-family: "lato", sans-serif; font-weight: 400; font-style: italic; }
#typography .lato5 .font-preview-character, #typography .lato1 .font-preview { font-family: "lato", sans-serif; font-weight: 700; font-style: normal; }
#typography .lato6 .font-preview-character, #typography .lato1 .font-preview { font-family: "lato", sans-serif; font-weight: 700; font-style: italic; }



/** ICONS **/
#icons li { padding: 10px; background-color: #E3E3E3; height: 120px; margin-bottom: 5px; min-width: 120px; }
#icons li:hover { background-color: #B0B0B0; cursor: text;}
#icons li p { position: relative; left: 50%; top: 50%; transform: translate(-50%,-50%); }
#icons i { font-size: 30px; }

/** COLORS **/
#colors .box { padding: 10px; }
#colors .box p { color: #fff; }
#colors .colors-vars li { font-size: 14px; }

/** BUTTONS **/

#buttons .menu-marcas div { cursor: pointer; height: 169px; }

#buttons .menu-marcas .saas:hover { border-top: solid 4px #005a6b; background-color: #008da9; }
#buttons .menu-marcas .saas:hover h2 { margin-top: 16px; }

#buttons .menu-marcas .mkt-digital:hover { border-top: solid 4px #714981; background-color: #845698;}
#buttons .menu-marcas .mkt-digital:hover h2 { margin-top: 16px; }

#buttons .menu-marcas .remanescentes:hover { border-top: solid 4px #da1320; background-color: #ec2532; }
#buttons .menu-marcas .remanescentes:hover h2 { margin-top: 16px; }

#buttons .menu-marcas h2, #buttons .menu-marcas li { color: #fff; }

/** CARDS **/
.card-tipo1 img { width: 100%; }






